<app-page>
    <h1 pageHeader>Twoje konto</h1>
    <div class="main-container">
        <div class="name-container">
            <div class="with-label">
                <span class="label">Imię</span>
                <span class="user-info">{{ payload.firstName }}</span>
            </div>
            <div class="with-label">
                <span class="label">Nazwisko</span>
                <span class="user-info">{{ payload.lastName }}</span>
            </div>
        </div>
        <div class="email-role-container">
            <div class="with-label">
                <span class="label">Adres e-mail</span>
                <span class="user-info">{{ payload.emailAddress }}</span>
            </div>
            <div class="with-label">
                <span class="label">Rola</span>
                <span class="user-info">{{ roles[payload.role] }}</span>
            </div>
        </div>
        <div class="additional-info-container">
            <div class="with-label">
                <span class="label">Dodatkowe informacje</span>
                <ul class="list-group">
                    <li *ngIf="payload.isActive" class="user-info">
                        Użytkownik aktywny
                    </li>
                    <li *ngIf="!payload.isActive" class="user-info">
                        Użytkownik nieaktywny
                    </li>
                    <li *ngIf="payload.isVerifiedStudent" class="user-info">
                        Student
                    </li>
                </ul>
            </div>
            <div class="buttons-container">
                <app-button type="color" (click)="changePassword()"
                    >Zmień hasło</app-button
                >
                <app-button type="color" (click)="verifyStudentship()"
                    >Zweryfikuj status studenta</app-button
                >
            </div>
        </div>
        <section *ngIf="organizations.length > 0" class="organizations">
            <h2>Organizacje, do których należysz</h2>
            <ul>
                <li *ngFor="let organization of organizationsWithRoles">
                    <a [routerLink]="['/organization', organization.id]">
                        <span class="name">{{ organization.name }}</span
                        >&nbsp;-&nbsp;<span class="role">{{
                            organizationRoles[organization.role]
                        }}</span>
                    </a>
                </li>
            </ul>
        </section>
        <section *ngIf="favoriteProjects.length > 0" class="favourite-projects">
            <h2>Ulubione projekty</h2>
            <div class="project-cards-container">
                <app-project-card
                    *ngFor="let projectCard of favoriteProjects"
                    [imageUrl]="projectCard.thumbnail.url"
                    [imageAlt]="projectCard.thumbnail.title"
                    [projectName]="projectCard.name"
                    [projectDescription]="projectCard.shortDescription"
                    [projectOrg]="projectCard.organizationName"
                    (visitProject)="visitProject(projectCard.id)"
                >
                </app-project-card>
            </div>
        </section>
    </div>
</app-page>
<app-verify-student-modal></app-verify-student-modal>
<app-change-password-modal></app-change-password-modal>
