<app-base-modal
    modalTitle="Odrzuć projekt"
    [modalName]="modalName"
    transitionDuration="200ms"
    [closable]="true"
    (closed)="modalClosed()"
>
    <div class="container">
        <div class="description">
            Odrzucasz projekt
            <span class="projectName">{{ this.projectName }}</span>
        </div>
        <form [formGroup]="rejectProjectForm">
            <div class="input-container">
                <app-input
                    name="reason"
                    [formControl]="rejectProjectForm.controls.reason"
                    [displayErrors]="false"
                    [type]="'multiline'"
                    >Powód odrzucenia</app-input
                >
                <div class="char-counter">
                    {{ this.inputSize }}/{{ this.maxInputSize }}
                </div>
            </div>
        </form>
        <app-button
            type="color"
            [disabled]="!rejectProjectForm.valid"
            (click)="sendRejectRequest()"
            >Odrzuć</app-button
        >
    </div>
</app-base-modal>
