:host {
    display: block;
    position: relative;
    border: 4px solid white;
    border-radius: 1em;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .move-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

app-button {
    scale: 75%;
}
