<div class="nav-wrapper">
    <nav>
        <div class="left-nav-container">
            <div class="burger">
                <app-button
                    *ngIf="!expandedLeftMenu"
                    type="color"
                    [icon]="burgerIcon"
                    (click)="expandedLeftMenu = !expandedLeftMenu"
                ></app-button>
                <app-button
                    *ngIf="expandedLeftMenu"
                    type="color"
                    [icon]="xIcon"
                    (click)="expandedLeftMenu = !expandedLeftMenu"
                ></app-button>
            </div>
            <div class="logo" routerLink="">
                <img src="assets/img/logotype.svg" />
            </div>
            <div>
                <div>
                    <ul class="nav-links">
                        <li>
                            <app-button routerLink="/"
                                >Strona główna</app-button
                            >
                        </li>
                        <li>
                            <app-button routerLink="/search"
                                >Projekty</app-button
                            >
                        </li>
                        <li>
                            <app-button routerLink="/about">O nas</app-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="notif-phone" *ngIf="logged">
            <div class="notif-icon-container"
                    (click)="
                        openNotifications();
                        expandedLeftMenu = expandedRightMenu = false
                    ">
                <app-button
                    class="notif-button"
                    type="clear"
                    [icon]="notifIcon"
                ></app-button>
                <div
                    class="notif-counter"
                    *ngIf="numberOfNotifications !== '0'"
                >
                    {{ numberOfNotifications }}
                </div>
            </div>
        </div>
        <div class="right-nav-container">
            <div class="notif-icon-container" *ngIf="logged"
                    (click)="
                        openNotifications();
                        expandedLeftMenu = expandedRightMenu = false
                    ">
                <app-button
                    class="notif-button"
                    type="clear"
                    [icon]="notifIcon"
                ></app-button>
                <div
                    class="notif-counter"
                    *ngIf="numberOfNotifications !== '0'"
                >
                    {{ numberOfNotifications }}
                </div>
            </div>
            <div
                *ngIf="logged"
                (click)="
                    expandedRightMenu = !expandedRightMenu;
                    showNotifications = false
                "
                class="dropdown-button"
                [ngClass]="{ expanded: expandedRightMenu }"
            >
                <img src="assets/img/icons/ion_dropdown.svg" />
                <span class="profile-circle">{{ initials }}</span>
            </div>
            <app-button
                *ngIf="!logged"
                class="login-button"
                type="color"
                (click)="openLogin()"
                >Zaloguj się</app-button
            >
        </div>
    </nav>
    <div [ngClass]="{ expandedLeft: expandedLeftMenu }" class="left-menu">
        <ul class="nav-links-left-top">
            <li><app-button routerLink="/">Strona główna</app-button></li>
            <li><app-button routerLink="/search">Projekty</app-button></li>
            <li><app-button routerLink="/about">O nas</app-button></li>
        </ul>
        <ul class="nav-links-left-bottom">
            <li *ngIf="isVerifiedStudent">
                <app-button (click)="openCreateOrganization()"
                    >Stwórz organizację</app-button
                >
            </li>
            <ng-container *ngIf="userRole === UserRole.Administrator">
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'category']"
                        >Kategorie</app-button
                    >
                </li>
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'users']"
                        >Użytkownicy</app-button
                    >
                </li>
                <li>
                    <app-button
                        [routerLink]="['/admin', 'manage', 'organizations']"
                        >Organizacje</app-button
                    >
                </li></ng-container
            >
            <li *ngIf="logged">
                <app-button routerLink="/account">Moje konto</app-button>
            </li>
            <li *ngIf="!logged">
                <app-button type="color" (click)="openLogin()"
                    >Zaloguj się</app-button
                >
            </li>
            <li *ngIf="logged && userRole !== UserRole.BasicUser">
                <app-button
                    type="color"
                    [routerLink]="['/admin', 'moderate', 'projects']"
                    >Moderuj</app-button
                >
            </li>
            <li *ngIf="logged">
                <app-button type="color" (click)="logout()"
                    >Wyloguj się</app-button
                >
            </li>
        </ul>
    </div>

    <div [ngClass]="{ expandedRight: expandedRightMenu }" class="right-menu">
        <ul class="nav-links-right-top">
            <li *ngIf="isVerifiedStudent">
                <app-button (click)="openCreateOrganization()"
                    >Stwórz organizację</app-button
                >
            </li>
            <ng-container *ngIf="userRole === UserRole.Administrator">
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'category']"
                        >Kategorie</app-button
                    >
                </li>
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'users']"
                        >Użytkownicy</app-button
                    >
                </li>
                <li>
                    <app-button
                        [routerLink]="['/admin', 'manage', 'organizations']"
                        >Organizacje</app-button
                    >
                </li></ng-container
            >
            <li><app-button routerLink="/account">Moje konto</app-button></li>
        </ul>
        <ul class="nav-links-right-bottom">
            <li *ngIf="!logged">
                <app-button type="color" (click)="openLogin()"
                    >Zaloguj się</app-button
                >
            </li>
            <li *ngIf="logged && userRole !== UserRole.BasicUser">
                <app-button
                    type="color"
                    [routerLink]="['/admin', 'moderate', 'projects']"
                    >Moderuj</app-button
                >
            </li>
            <li *ngIf="logged">
                <app-button
                    type="color"
                    (click)="logout(); expandedRightMenu = !expandedRightMenu"
                    >Wyloguj się</app-button
                >
            </li>
        </ul>
    </div>

    <div [ngClass]="{ open: showNotifications }" class="notif-menu">
        <div class="notif-container">
            <div
                *ngFor="let notification of notifications"
                class="notif"
                (click)="showNotification(notification)"
                [ngClass]="{ seen: notification.seen }"
            >
                <div class="notif-left">
                    <i
                        [innerHTML]="
                            mapNotificationTypeToIcon(notification.type)
                        "
                    ></i>
                </div>
                <div class="notif-right">
                    <div class="top">{{ notification.subject }}</div>
                    <div class="bottom">
                        {{ notification.organization.name }}
                    </div>
                </div>
            </div>
            <p *ngIf="notifications.length === 0" class="no-notifications">
                Brak powiadomień
            </p>
        </div>
        <nav class="notification-nav" *ngIf="notifications.length > 0">
            <app-button
                type="color"
                [icon]="backIcon"
                [disabled]="notificationPage === 1"
                (click)="prevNotificationPage()"
            ></app-button
            ><app-button
                type="color"
                [icon]="forwardIcon"
                [disabled]="notificationPage === notificationPageCount"
                (click)="nextNotificationPage()"
            ></app-button>
        </nav>
    </div>
</div>
<app-notification-modal
    [notification]="currentNotification"
></app-notification-modal>
