<div class="nav-wrapper">
    <nav>
        <div class="left-nav-container">
            <div class="burger">
                <app-button
                    *ngIf="!expandedLeftMenu"
                    type="color"
                    [icon]="burgerIcon"
                    (click)="expandedLeftMenu = !expandedLeftMenu"
                ></app-button>
                <app-button
                    *ngIf="expandedLeftMenu"
                    type="color"
                    [icon]="xIcon"
                    (click)="expandedLeftMenu = !expandedLeftMenu"
                ></app-button>
            </div>
            <div class="logo" routerLink="">
                <img src="assets/img/logotype.svg" />
            </div>
            <div>
                <div>
                    <ul class="nav-links">
                        <li>
                            <app-button routerLink="/"
                                >Strona główna</app-button
                            >
                        </li>
                        <li>
                            <app-button routerLink="/search"
                                >Projekty</app-button
                            >
                        </li>
                        <li>
                            <app-button routerLink="/about">O nas</app-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="notif-phone" *ngIf="logged">
            <div class="notif-icon-container">
                <app-button
                    class="notif-button"
                    type="clear"
                    [icon]="this.notifIcon"
                    (click)="
                        this.showNotifications = !this.showNotifications;
                        this.expandedRightMenu = false
                    "
                ></app-button>
                <div class="notif-counter">{{ this.getNotifSize() }}</div>
            </div>
        </div>
        <div class="right-nav-container">
            <div class="notif-icon-container" *ngIf="logged">
                <app-button
                    class="notif-button"
                    *ngIf="true"
                    type="clear"
                    [icon]="this.notifIcon"
                    (click)="
                        this.showNotifications = !this.showNotifications;
                        this.expandedRightMenu = false
                    "
                ></app-button>
                <div class="notif-counter">{{ this.getNotifSize() }}</div>
            </div>
            <div
                *ngIf="logged"
                (click)="
                    expandedRightMenu = !expandedRightMenu;
                    showNotifications = false
                "
                class="dropdown-button"
                [ngClass]="{ expanded: expandedRightMenu }"
            >
                <img src="assets/img/icons/ion_dropdown.svg" />
                <span class="profile-circle">{{ initials }}</span>
            </div>
            <app-button
                *ngIf="!logged"
                class="login-button"
                type="color"
                (click)="openLogin()"
                >Zaloguj się</app-button
            >
        </div>
    </nav>
    <div [ngClass]="{ expandedLeft: expandedLeftMenu }" class="left-menu">
        <ul class="nav-links-left-top">
            <li><app-button routerLink="/">Strona główna</app-button></li>
            <li><app-button routerLink="/search">Projekty</app-button></li>
            <li><app-button routerLink="/about">O nas</app-button></li>
            <li *ngIf="isVerifiedStudent">
                <app-button (click)="openCreateOrganization()"
                    >Stwórz organizację</app-button
                >
            </li>
            <ng-container *ngIf="userRole === UserRole.Administrator">
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'category']"
                        >Kategorie</app-button
                    >
                </li>
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'users']"
                        >Użytkownicy</app-button
                    >
                </li>
                <li>
                    <app-button
                        [routerLink]="['/admin', 'manage', 'organizations']"
                        >Organizacje</app-button
                    >
                </li></ng-container
            >
            <li *ngIf="logged">
                <app-button routerLink="/account">Moje konto</app-button>
            </li>
        </ul>
        <ul class="nav-links-left-bottom">
            <li *ngIf="!logged">
                <app-button type="color" (click)="openLogin()"
                    >Zaloguj się</app-button
                >
            </li>
            <li *ngIf="logged && userRole !== UserRole.BasicUser">
                <app-button
                    type="color"
                    [routerLink]="['/admin', 'moderate', 'projects']"
                    >Moderuj</app-button
                >
            </li>
            <li *ngIf="logged">
                <app-button type="color" (click)="logout()"
                    >Wyloguj się</app-button
                >
            </li>
        </ul>
    </div>

    <div [ngClass]="{ expandedRight: expandedRightMenu }" class="right-menu">
        <ul class="nav-links-right-top">
            <li *ngIf="isVerifiedStudent">
                <app-button (click)="openCreateOrganization()"
                    >Stwórz organizację</app-button
                >
            </li>
            <ng-container *ngIf="userRole === UserRole.Administrator">
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'category']"
                        >Kategorie</app-button
                    >
                </li>
                <li>
                    <app-button [routerLink]="['/admin', 'manage', 'users']"
                        >Użytkownicy</app-button
                    >
                </li>
                <li>
                    <app-button
                        [routerLink]="['/admin', 'manage', 'organizations']"
                        >Organizacje</app-button
                    >
                </li></ng-container
            >
            <li><app-button routerLink="/account">Moje konto</app-button></li>
        </ul>
        <ul class="nav-links-right-bottom">
            <li *ngIf="!logged">
                <app-button type="color" (click)="openLogin()"
                    >Zaloguj się</app-button
                >
            </li>
            <li *ngIf="logged && userRole !== UserRole.BasicUser">
                <app-button
                    type="color"
                    [routerLink]="['/admin', 'moderate', 'projects']"
                    >Moderuj</app-button
                >
            </li>
            <li *ngIf="logged">
                <app-button
                    type="color"
                    (click)="logout(); expandedRightMenu = !expandedRightMenu"
                    >Wyloguj się</app-button
                >
            </li>
        </ul>
    </div>

    <div
        [ngClass]="{ notifMenuOpen: this.showNotifications }"
        class="notif-menu"
    >
        <div class="notif-container">
            <div
                *ngFor="let notif of this.notifications.slice(0, 7)"
                class="notif"
                (click)="openNotification(notif)"
            >
                <div class="notif-left">
                    <i
                        [innerHTML]="this.mapNotificationTypeToIcon(notif.type)"
                    ></i>
                </div>
                <div class="notif-right">
                    <div class="top">{{ notif.message }}</div>
                    <div class="bottom">{{ notif.organization.name }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-notification-modal [notif]="this.currentNotif"></app-notification-modal>
