<app-page>
    <div class="container">
        <h1>Zarządzaj użytkownikami</h1>
        <table>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Adres e-mail</th>
                <th>Rola</th>
                <th>Student</th>
                <th></th>
            </tr>
            <tr>
                <td>Jan Nowak</td>
                <td>jannowak@gmail.com</td>
                <td>Użytkownik</td>
                <td>Tak</td>
                <td>
                    <img
                        src="assets\img\icons\eye.svg"
                        class="image last-column"
                    />
                </td>
            </tr>
            <tr>
                <td>Jan Nowak</td>
                <td>jannowak@gmail.com</td>
                <td>Administrator</td>
                <td>Tak</td>
                <td>
                    <img
                        src="assets\img\icons\eye.svg"
                        class="image last-column"
                    />
                </td>
            </tr>
            <tr>
                <td>Jan Nowak</td>
                <td>jannowak@gmail.com</td>
                <td>Moderator</td>
                <td>Tak</td>
                <td>
                    <img
                        src="assets\img\icons\eye.svg"
                        class="image last-column"
                    />
                </td>
            </tr>
        </table>
    </div>
</app-page>
