<div class="content-wrapper">
    <label class="label" [for]="name">
        {{ label }}
    </label>
    <input
        [id]="name"
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [readOnly]="readOnly"
        class="field field-singleline"
        [value]="value"
        (input)="onInput($event)"
        (blur)="onTouched()"
        *ngIf="type !== 'multiline'"
    />
    <textarea
        [id]="name"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [readOnly]="readOnly"
        class="field field-multiline"
        (input)="onInput($event)"
        (blur)="onTouched()"
        *ngIf="type === 'multiline'"
        >{{ value }}</textarea
    >
    <p class="error-message" *ngIf="displayErrors">{{ errorMessage }}</p>
</div>
