.container {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.container_flex {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div_text {
    align-self: center;
    flex-grow: 2;
}

.div_image {
    margin: 20px;
    align-self: center;
    flex-grow: 1;
}