<app-page>
    <h1 pageHeader>O nas</h1>

    <div class="container_flex">
        <div class="div_text">
            <h3>
                Serwis <strong>Student</strong>Hub to platforma, pozwalająca
                odkrywać ciekawe projekty studentów oraz kół naukowych z całej
                Polski.
            </h3>
        </div>
        <div class="div_image">
            <img src="assets/img/illustrations/about1.svg" />
        </div>
    </div>

    <div class="container_flex">
        <div class="div_image">
            <img src="assets/img/illustrations/about2.svg" />
        </div>
        <div class="div_text">
            <h3>
                Głównym problemem większości pomysłów studentów jest niewielka
                widoczność dla osób spoza uczelni, ograniczona możliwość
                finansowania lub niedostateczne umiejętności.
            </h3>
        </div>
    </div>

    <div class="container_flex">
        <div class="div_text">
            <h3>
                Nasza aplikacja pozwala na dotarcie do osób niezwiązanych ze
                środowiskiem akademickim, wsparcie projektu finansowo oraz
                nawiązanie współpracy z innymi studentami w celu współdzielenia
                umiejętności i rozwoju projektu.
            </h3>
        </div>
        <div class="div_image">
            <img src="assets/img/illustrations/about3.svg" />
        </div></div
></app-page>
