.container_flex {
    margin-top: var(--padding);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: calc(var(--padding) / 3 * 2);
}

.div_text {
    align-self: center;
    flex-grow: 2;
}

.div_image {
    align-self: center;
    flex-grow: 1;
}
