<app-base-modal
    modalTitle="Ustaw nowe hasło"
    modalName="set-new-password-modal"
    transitionDuration="200ms"
    [closable]="true"
>
    <div class="container">
        <form [formGroup]="setNewPasswordForm">
            <app-input
                name="newPassword"
                [formControl]="setNewPasswordForm.controls.newPassword"
                [errors]="setNewPasswordForm.controls.newPassword.errors"
                [errorMessages]="{
                    required: 'Podaj nowe hasło',
                    minLength: 'Hasło za krótkie',
                    maxLength: 'Hasło za długie'
                }"
                [type]="'password'"
                >Nowe hasło</app-input
            >
            <app-input
                name="repeatNewPassword"
                [formControl]="setNewPasswordForm.controls.repeatNewPassword"
                [errors]="setNewPasswordForm.controls.repeatNewPassword.errors"
                [errorMessages]="{
                    mustMatch: 'Powtórz nowe hasło'
                }"
                [type]="'password'"
                >Powtórz nowe hasło</app-input
            >
        </form>
        <app-button
            type="color"
            [disabled]="!setNewPasswordForm.valid"
            (click)="(sendSetNewPasswordRequest)"
            >Ustaw hasło</app-button
        >
    </div>
</app-base-modal>
