<app-base-modal
    modalTitle="Zmień hasło"
    [modalName]="modalName"
    transitionDuration="200ms"
    [closable]="true"
    (closed)="modalClosed()"
>
    <div class="container">
        <form [formGroup]="changePasswordForm">
            <app-input
                name="newPasswordChange"
                [formControl]="changePasswordForm.controls.newPassword"
                [errors]="changePasswordForm.controls.newPassword.errors"
                [errorMessages]="{
                    required: 'Podaj nowe hasło',
                    minlength: 'Hasło za krótkie'
                }"
                type="password"
                >Nowe hasło</app-input
            >
            <app-input
                name="repeatNewPasswordChange"
                [formControl]="changePasswordForm.controls.repeatNewPassword"
                [errors]="changePasswordForm.controls.repeatNewPassword.errors"
                [errorMessages]="{
                    mustMatch: 'Hasła niezgodne'
                }"
                type="password"
                >Powtórz nowe hasło</app-input
            >
        </form>
        <app-button
            type="color"
            [disabled]="!changePasswordForm.valid || inTransit"
            (click)="setNewPassword()"
            >Ustaw hasło</app-button
        >
    </div>
</app-base-modal>
