.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

app-button {
    align-self: center;
}
