<app-base-modal
    modalTitle="Zapomniałeś hasła?"
    modalName="reset-password-modal"
    transitionDuration="200ms"
    [closable]="true"
>
    <div class="form-wrapper">
        <h4>Na podany adres email wyślemy instrukcje resetowania hasła.</h4>
        <form [formGroup]="resetPasswordForm">
            <app-input name="emailAddress" formControlName="emailAddress"
                >Adres e-mail</app-input
            >
        </form>
        <app-button
            type="color"
            [disabled]="!this.resetPasswordForm.valid || sent"
            (click)="onRequestPasswordReset()"
            >Zresetuj hasło</app-button
        >
    </div>
</app-base-modal>
