<app-base-modal
    modalTitle="Zapomniałeś hasła?"
    modalName="reset-password-modal"
    transitionDuration="200ms"
    [closable]="true"
>
    <div class="form-wrapper" *ngIf="!this.done">
        <h4>Wyślemy ci instrukcje resetu hasła na podany adres email.</h4>
        <form [formGroup]="resetPasswordForm">
            <app-input name="emailAddress" formControlName="emailAddress"
                >Adres E-mail</app-input
            >
        </form>
        <app-button
            type="color"
            [disabled]="!this.resetPasswordForm.valid || sent"
            (click)="onRequestPasswordReset()"
            >Resetuj hasło</app-button
        >
    </div>
    <div class="end-message" *ngIf="done">
        Jeśli podany adres email znajduję się w naszej bazie danych, to zostanie
        na niego wysłana wiadomość z linkiem do resetu hasła.
    </div>
</app-base-modal>
