<app-page>
    <h1 #pageHeader>Zarządzaj kategoriami</h1>
    <table>
        <tr>
            <th>Nazwa kategorii</th>
            <!-- <th>Liczba projektów w kategorii</th> -->
            <th class="third-head">
                <app-button
                    type="clear"
                    [icon]="icons['ion_add-circle-outline']"
                    (click)="createCategory()"
                >
                </app-button>
            </th>
        </tr>
        <tr *ngFor="let category of categories">
            <td>{{ category.name }}</td>
            <!-- <td>{{ category.amount }}</td> -->
            <td class="third-row">
                <div class="button-container">
                    <!-- <app-button
                        type="clear"
                        [icon]="icons['eye']"
                        (click)="changeCategory(category.id)"
                    ></app-button> -->
                    <app-button
                        type="danger"
                        [icon]="icons['trash-2']"
                        (click)="removeCategory(category)"
                    ></app-button>
                </div>
            </td>
        </tr>
    </table>
</app-page>
<app-create-category-modal
    (createdCategory)="fetchCategories()"
></app-create-category-modal>
