<app-page>
    <h1 #pageHeader>Zarządzaj kategoriami</h1>
    <table>
        <tr>
            <th>Nazwa kategorii</th>
            <th>Liczba projektów w kategorii</th>
            <th class="third-head">
                <app-button
                    type="clear"
                    [icon]="icons['ion_add-circle-outline']"
                >
                </app-button>
            </th>
        </tr>
        <tr *ngFor="let category of categoryList">
            <td>{{ category.name }}</td>
            <td>{{ category.amount }}</td>
            <td class="third-row">
                <div class="button-container">
                    <app-button type="clear" [icon]="icons['eye']"></app-button>
                    <app-button
                        type="danger"
                        [icon]="icons['trash-2']"
                    ></app-button>
                </div>
            </td>
        </tr>
    </table>
</app-page>
