<app-base-modal
    modalTitle="Zaloguj się"
    [modalName]="modalName"
    transitionDuration="200ms"
    [closable]="true"
    (submit)="login()"
>
    <form [formGroup]="loginForm">
        <app-input
            name="loginEmailAddress"
            [formControl]="loginForm.controls.emailAddress"
            >Adres E-mail</app-input
        >
        <app-input
            name="loginPassword"
            type="password"
            [formControl]="loginForm.controls.password"
            >Hasło</app-input
        >
        <div class="forgot-password">Zapomniałem hasła</div>
        <div class="login-container">
            <div class="error-message" *ngIf="displayErrorMessage">
                Podano nieprawidłowe dane
            </div>
            <app-button
                type="color"
                [disabled]="loginForm.invalid"
                (click)="login()"
                >Zaloguj</app-button
            >
        </div>
        <div class="register-container">
            <div class="no-account-label">Nie masz konta?</div>
            <app-button type="translucent">Zarejestruj się</app-button>
        </div>
    </form>
</app-base-modal>
