<app-base-modal
    [modalTitle]="modalTitle"
    [modalName]="modalName"
    transitionDuration="200ms"
    [closable]="true"
>
    <div class="container">
        <h3>{{ this.notif.subject }}</h3>
        <article>
            {{ this.notif.message }}
        </article>
    </div>
    <div class="buttons-container">
        <app-button type="color" (click)="toggleRead()">Przeczytane</app-button>
        <app-button
            type="danger"
            *ngIf="
                this.isOwner ||
                this.notif.type === NotificationType.MessageAnswer
            "
            (click)="remove()"
            >Usuń</app-button
        >
        <app-button
            type="color"
            (click)="reply()"
            *ngIf="
                this.notif.type === NotificationType.ProjectDraftPublication ||
                this.notif.type === NotificationType.ProjectDraftRejection
            "
            >Odpowiedz</app-button
        >
    </div>
</app-base-modal>

<app-message-modal [projectId]="this.notif.project.id"></app-message-modal>
