.container {
    margin: 5px auto;
}

article {
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--padding) / 2);
    margin-top: var(--padding);
    justify-content: center;
}
