
<div class="container">
    <h1>Zarządzaj kategoriami</h1>
    <table>
        <tr>
        <th>Nazwa kategorii</th>
        <th>Liczba projektów w kategorii</th>
        <th class="third-head"><img class="image" src="assets\img\icons\ion_add-circle-outline.svg"></th>
        </tr>
        <tr>
        <td>Elektronika</td>
        <td>100</td>
        <td class="third-row"><img src="assets\img\icons\eye.svg" class="inline"><img src="assets\img\icons\trash-2.svg" class="inline"></td>
        </tr>
        <tr>
        <td>Elektronika</td>
        <td>100</td>
        <td class="third-row"><img src="assets\img\icons\eye.svg" class="inline"><img src="assets\img\icons\trash-2.svg" class="inline"></td>
        </tr>
        <tr>
        <td>Elektronika</td>
        <td>100</td>
        <td class="third-row"><img src="assets\img\icons\eye.svg" class="inline"><img src="assets\img\icons\trash-2.svg" class="inline"></td>
        </tr>
        <tr>
        <td>Elektronika</td>
        <td>100</td>
        <td class="third-row"><img src="assets\img\icons\eye.svg" class="inline"><img src="assets\img\icons\trash-2.svg" class="inline"></td>
        </tr>
        
      </table>
</div>

  