app-button {
    width: fit-content;
    margin: auto;
}

app-input {
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding);
}

.newOrganizationName {
    font-style: italic;
}
