app-page ::ng-deep {
    header {
        margin-bottom: 0;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container_flex {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-right: 20px;
    margin-top: 20px;
}

section:not(:last-of-type) {
    margin-bottom: var(--padding);
}

.button-margin {
margin-top: 10px;
}