:host {
    display: block;
    max-width: 16.875rem;
}

.content-wrapper {
    border-radius: calc(var(--el-height) / 2);
    padding: var(--card-padding);
    background-color: var(--deep-background-100);
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount {
    color: var(--money);
    font-weight: 500;
    font-style: italic;
    font-size: 2rem;
    text-align: right;
}

@media screen and (min-width: 768px) {
    :host {
        max-width: 13.5rem;
    }

    .amount {
        font-size: 1.6rem;
    }
}
