<app-page>
    <h1 pageHeader>Moderuj projekty</h1>
    <div class="project-container">
        <app-project-card
            *ngFor="let submission of projectSubmissions"
            class="card"
            projectName="{{ submission.simpleProjectDraft.name }}"
            projectDescription="{{
                submission.simpleProjectDraft.shortDescription
            }}"
            imageUrl="{{ submission.simpleProjectDraft.thumbnail }}"
            buttonText="Moderuj"
            (visitProject)="goToProjectModeration(submission.id)"
        ></app-project-card>
    </div>
</app-page>
