:root {
    --background-100: rgba(25, 25, 25, 1);
    --background-0: rgba(25, 25, 25, 0);
    --deep-background-100: rgba(12, 12, 12, 1);
    --black-50: rgba(0, 0, 0, 0.5);

    --foreground-100: rgba(255, 255, 255, 1);
    --foreground-75: rgba(255, 255, 255, 0.75);

    --primary-100: rgba(0, 124, 238, 1);
    --primary-50: rgba(0, 124, 238, 0.5);
    --primary-25: rgba(0, 124, 238, 0.25);

    --secondary-100: rgba(0, 64, 122, 1);
    --secondary-25: rgba(0, 64, 122, 0.25);
    --secondary-25-solid: rgba(
        19,
        35,
        50,
        1
    ); // var(--secondary-accent-25) as rendered over var(--background-color-100)

    --tetriary-100: rgba(87, 174, 255, 1);

    --danger: rgba(255, 83, 83, 1);
    --success: rgba(104, 185, 99, 1);
    --money: rgba(255, 182, 41, 1);

    --ff: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";

    --padding: 32px;

    --button-height: 44px;
    --el-height: 64px;

    --card-padding: 1.25rem;

    --input-height: 44px;
    --checkbox-height: 24px;

    @media screen and (min-width: 768px) {
        --padding: 40px;

        --button-height: 52px;
        --el-height: 72px;

        --card-padding: 1rem;

        --input-height: 48px;
    }

    @media screen and (min-width: 1280px) {
        --padding: 50px;
    }
}
